.hidden{
    display:none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a{
    text-decoration: none;
}


img{
    display: block;
    font-weight: 100%;
    height: auto;
}

/*-----GENERAL------*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

}
@media screen and (min-width:768px){
    .container {
            max-width: 768px;
        
}}

@media screen and (min-width:1158px){.container {
        max-width: 1158px;

        padding: 0 15px;}}



        /*-----HEADER-----*/
.header-section {
 border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);}


.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.nav-list, .adress {display:none;}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }

.logo-first{
    display: block;
    padding: 16px 0;
}

.logo-two {
color: #2e2f42;
}

.burger-button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-icon{
    display: block;
    fill:#2f2f37;;
}

@media screen and (min-width:768px) {
.burger-button{display: none;}
    
.nav-structure {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.nav-list {
display: flex;
align-items: center;
gap: 40px;}


.logo-first {
padding: 24px 0;
margin-right: 120px;;}
        

.header-links {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}



.header-links .current {
    position: relative;
    padding: 24px 0;
    transition-duration: 250ms;
    color: #404bbf
}


.header-links .current::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0px;
    bottom: -1px;
}

.adress {

    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.contacts {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links:hover,
.header-links:focus {
    color: #404bbf;
}
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}
}


@media screen and (min-width:1158px){
.logo-first {
padding: 24px 0;
margin-right: 76px;
}

.address-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;

}
.contacts {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }
}

/*-----MOBILE-MENU-----*/

.mobile-menu {
    position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        z-index: 1;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container { 
position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    }


.mob-menu-close{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:#e7e9fc;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


       
.mob-btn-icon{
    fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mob-menu-close:hover,
.mob-menu-close:focus{
background-color: #404bbf;
border: none;
}
.mob-menu-close:hover .mob-btn-icon,
.mob-menu-close:focus .mob-btn-icon{
    fill: #ffffff;
    border: none;
}
 

.mob-nav{
margin-bottom: auto;
}

.mob-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}





.item-mob-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.current {

    transition-duration: 250ms;
    color: #404bbf}

.mob-menu-adress{
    margin-bottom: 40px;
}

.mob-address-list{
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mob-contacts{
    font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.mob-contacts.current {
    color: #4d5ae5;
}
.mob-soc-icons-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

@media screen and (min-width: 768px){
    .mobile-menu{
        display:none;
    }
}


/*-----HERO-----*/

.main-section {
    margin: 0 auto;
    max-width: 322px;

    padding: 72px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/backgr-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-resolution:2x) {
.main-section {background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/backgr-mob-2x.jpg);
}}

.main-title {
    display: block;

    font-weight: 700;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    
    font-size: 16px;
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    text-align: center;
    border: none;
    padding: 16px 32px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    text-decoration: none;
    background-color: #404bbf;
}

@media screen and (min-width:768px){
    .main-section{max-width: 768px;
        padding:112px 0;     
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/backgr-lap-1x.jpg);
       }

@media screen and (min-resolution:2x) {
    .main-section{ background-color: rgba(46, 47, 66, 0.7);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/backgr-lap-2x.jpg);
 }
}


    .main-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    }
}

@media screen and (min-width:1156px) {
    .main-section {
        max-width: 1140px;
        padding: 188px 0;
      background-color: rgba(46, 47, 66, 0.7);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/backgr-desktop-1x.jpg);
    }


@media screen and (min-resolution:2x) {
    .main-section {
        background-color: rgba(46, 47, 66, 0.7);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/backgr-desktop-2x.jpg);
    }
}


.main-title {
    margin-bottom: 48px;
    
}}


/*-----ADVANTAGES-----*/

.features-container {
    display:flex;
    padding:96px 0;}

.advantages-wrap {display:none;

}

.adventeges-list {
display: flex;
flex-wrap: wrap;
gap: 72px;
text-align: left;
margin: 0 auto;
}

 .list-info {
    width: 100%;
    
 }

.adventeges-name {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;}

.description-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

        }

@media screen and (min-width:768px) {
    .features-container {
    padding: 96px 0;
   
    }
    
.adventeges-list {

margin: 0 auto;
gap: 72px 24px;
        }

.list-info {
width: calc((100% - 24px) / 2);
    }}

@media screen and (min-width:1156px) {
    .features-container{
padding:120px 0;
     }

.advantages-wrap {
display: flex;
align-items: center;
width: 264px;
height: 112px;
 justify-content: center;
border: 1px solid #8e8f99;
border-radius: 4px;
background-color: #f4f4fd;
margin-bottom: 8px;
    
}
.antenna {
    align-self: center;
    
}

.punctuality {
    align-self: center;
}

.diagram {
    align-self: center;
}

.astronaut {
    align-self: center;
}
.adventeges-list {
  
    gap: 24px;
  
}

.list-info {
    width: calc((100% - 72px) / 4);
    margin: 0;
}
.adventeges-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.description-text {
    font-weight: 400;
}}


/*-----OUR-TEAM-----*/


.our-team {
    background-color: #f4f4fd;
padding: 96px 0;

}
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   gap:72px;}

   .position-link {
 
    
       background-color: #ffffff;
       border-radius: 0px 0px 4px 4px;
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
           0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }

   .name-position {

       padding: 32px 0;
       border-radius: 0px 0px 4px 4px;
   }

   .staff-name {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       text-align: center;
       margin-bottom: 8px;

   }
.staff-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.soc-icons-list {
 display: flex;
justify-content: center;
    flex-direction: row;
    gap: 24px;
    height: 40px;}

.soc-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
.soc-link:hover {
    background-color: #404bbf;
        }
    
.soc-link:focus {
    background-color: #404bbf;
        }
    
.soc-icon {
    
 fill: #f4f4fd;
    }

@media screen and (min-width:768px){
    .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 
    padding: 0 64px;
    gap:24px;
     }}

@media screen and (min-width:1156px){
.our-team {padding: 120px 0;}

.team-list {
    display: flex;
        flex-wrap: nowrap;
        padding: 0;
        gap: 24px;
  
    
    }

.position-link {
    width: calc((100% - 72px) / 4);
}}


/*-----OUR PORTFOLIO------*/

.our-portfolio {
    padding:96px 0;
}

.cover-card-text {
    display:none;
}

.portfolio-name {
    font-weight: 700;
     font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px 24px;

}
.link-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

 .link-portfolio:hover .cover-card-text {
     transform: translateY(0);
 }


.general-descr {
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
width: 288px;
height: 120px;

}

.portfolio-caption {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.caption-descr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width:768px){
    .general-descr{
        width:356px;
    }
    .link-portfolio{width: calc((100% - 24px) / 2);
    }
 }
    
@media screen and (min-width:1156px){
    .cover-card-text {
    display: block;
        }
    .portfolio-list {
    gap: 48px 24px;}

    .link-portfolio {
     width: calc((100% - 48px) / 3);}

    .img-cover-text {
    position: relative;
    overflow: hidden;
         }
    .cover-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
     padding: 40px 32px;
     background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .link-portfolio:hover .cover-card-text {
    transform: translateY(0);
        }
}



/*------FOOTER-----*/
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.logo-text{
width: 288px;
height: 112px;
justify-content: center;
margin-bottom: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.studio-two {
    color: #fff;

}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-soc-links{display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 72px;
width: 208px;
height: 80px;
}

.soc-text {
   display: flex;
   justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.foot-soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    }

.foot-soc-item {
    width: 40px;
    height: 40px
}

.foot-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.foot-soc-img {
    fill: #f4f4fd;
}

.foot-soc-link:hover {
    background-color: #31D0AA;

}

.foot-soc-link:focus {
    background-color: #31D0AA;
}




/*------FOOTER-FORM------*/

.form{
    display: flex;
align-items: center;
flex-direction: column;
   
    
}

.form-title{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.foot-form{
display: flex;
justify-content: center;
gap: 16px;
flex-wrap: wrap;
}

.foot-input{
    border: 1px solid #fff;
     border-radius: 4px;
     width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    }

.foot-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    }


.foot-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;

    line-height: 150%;
    text-align: center;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 16px;
    border: none;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.foot-btn:hover {
    background: #404bbf;}
.foot-btn:focus {
    background: #404bbf;
}
.form-foot-icon {
    fill: #fff;
    margin-left: 16px;
}
/* FOOTER-FORM-MOB-END*/


/* FOOTER-LAPTOP-FORM*/

@media screen and (min-width:768px){
.footer-container{
    justify-content: start;
    align-items: baseline;
    flex-direction: row;
    column-gap: 24px;
    padding: 96px 108px;
}
.footer-logo{
    justify-content: flex-start;
}
.soc-text{
justify-content: flex-start;
}

   .form-title{
align-self: baseline;
   }
  
}

/*FOOTER-DESKTOP-FORM*/

@media screen and (min-width:1156px)
{.footer-container {
    padding: 0 15px;
    gap: 0;

    }

.logo-text {
    margin-right: 120px

}

.form{
    margin-left: auto;
}

}


/*-----BACKDROP-AREA-----*/
.backdrop {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;}


.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close {display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 0;
    cursor: pointer;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.modal-close:hover {
    background-color: #404bbf;
    border: none;

}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:focus .btn-icon:hover {
    fill: #ffffff;}

.btn-icon {
    position: absolute;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .btn-icon,
.modal-close:focus .btn-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;


}

.form-foot {}

.modal-field {
margin-bottom: 8px;}

.modal-label {
display: block;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.input-wrap {
position: relative;
}

.modal-input {
width: 100%;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
padding-left: 38px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus{
    border: 1px solid #4d5ae5;
}

.modal-user-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-user-icon {
fill: #4D5AE5;
}

.modal-field-text {
margin-bottom: 16px;
}

.modal-textarea {width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 12px;
    height: 120px;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4D5AE5;}

.modal-check-field {}

.modal-check {}

.visually-hidden {}

.modal-check-text {}

.modal-check-item {}

.modal-check-icon {}

.modal-check-link {}

.button {}




