body {
font-family: "Roboto", sans-serif;
color:#434455;
background-color: #FFFFFF; }

a{text-decoration: none;}

img{display: block;
    max-width: 100%;
     height: auto;}


 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
       }
   
   ul,
   ol {
      list-style-type: none;
       margin: 0;
       padding: 0;
       }
   
   .container {
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
   
             }

.header-container{
display:flex;
align-items: center;}

.header-section {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);


 }

.nav-structure{
display:flex;
align-items: center;
margin-right: auto;
}


.logo{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-right: 76px;
   
    
}




.logo-two{
    color: #2e2f42;
    
   }


    .nav-list{
      display: flex;
      align-items: center;
      gap: 40px;
   }

    .header-links{
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 0 24px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    
    }
    .header-links:hover,.header-links:focus{color:#404bbf;}


    .header-links .current{
      position:relative;
      padding:24px 0;
      transition-duration: 250ms;
      color: #404bbf
      
    }

       
   .header-links .current::after {
   content: "";
   position: absolute;
   border-radius: 2px;
    width: 100%;
    height: 4px;
   background-color: #404bbf;
   left: 0px;
   bottom: -1px;}
       

    .adress {
    font-family: "Roboto", sans-serif;
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size:16px;
    letter-spacing: 0.02em;
    color: #434455
        }
        
   .address-list{
   display: flex;
   align-items: center;
   gap: 40px;
   color: #404bbf;}

    .contacts{
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .contacts:hover, .contacts:focus{color:#404bbf;}

        
    .main-section{
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
   background-color: rgba(46, 47, 66, 0.7);
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

    
       }


    .main-title{
    display: block;
    font-weight: 700;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
       }

    .button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor:pointer ;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
   display: block;
   margin:0 auto;
   min-width: 169px;
   height: 56px;
   border-radius: 4px;
   text-align: center;
   border: none;
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       }

    .button:hover, .button:focus{text-decoration: none; background-color:#404bbf;}

       .visually-hidden {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;}

    .adventeges{
      padding-top: 120px;
      padding-bottom: 120px;

       }
.advantages-wrap{
   display: flex;
   align-items: center;
   width: 264px;
   height:112px;
   justify-content: center;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   background-color: #f4f4fd;
   margin-bottom: 8px;
     
}
.antenna{
   align-self: center;}
   
   .punctuality{
      align-self: center;
   }
   .diagram{
      align-self: center;
   }

.astronaut{
   align-self: center;
}
    .adventeges-list{
      display: flex;
      gap:24px;
     margin:0;
   }
      
     .list-info{
      width: calc((100% - 72px) / 4);
      margin: 0;
  }




       
    .adventeges-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
    
  }


    .description-text{
    font-weight: 400;
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color: #434455;
    display: flex;
    width: 264px;
    height: 104px;
    text-align: left;
       }


    .our-team{
    background-color: #f4f4fd;
    padding: 120px 0;
   
    }
        

    .team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
   }
    
    .team-list{
      display: flex;
      flex-wrap: nowrap;
      gap:24px;
      row-gap: 48px;
      
    }
   .position-link{
   width: calc((100% - 72px) / 4);
   background-color: #ffffff;
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
   

  


   .name-position{
   padding: 32px 0;
  
   border-radius: 0px 0px 4px 4px;}
            
    .staff-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
   margin-bottom: 8px;
    
     }

            
    .staff-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
    }
            
    .soc-icons-list{
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 24px;
      height: 40px;
     
        
    }
    .soc-icons-link{
      
    }

    .soc-link{
      width: 40px;
      height: 40px;
      background-color: #4D5AE5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    }

    .soc-link:hover {background-color: #404bbf;} 
    .soc-link:focus {
      background-color:#404bbf;
      }

    .soc-icon{
      
      fill: #f4f4fd;
      
      
    }

    .our-portfolio{
      padding-top: 120px;
      padding-bottom: 120px;
               }
                
    .portfolio-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
   margin-bottom: 72px;}

    
    .portfolio-list{
      display: flex;
      flex-wrap: wrap;
      gap: 48px 24px;
      
    }

    .link-portfolio{
   width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }  
    
   .img-cover-text{
   position: relative;
   overflow: hidden;}

   .link-portfolio:hover{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

      .link-portfolio:hover .cover-card-text{
         transform: translateY(0);
      }
   

   .cover-card-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      position: absolute;
      top:0;
      left:0;
      padding: 40px 32px;
      background-color: #4d5ae5;
      height: 100%;
      transform: translateY(100%);
      transition:transform 250ms linear;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   }

    .portfolio-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   text-align: left;
   margin-bottom: 8px;
}

.general-descr{
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top:none;
  
}
                            
    .caption-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   text-align:left;
}


                                
    .foot{
    background-color: #2e2f42;
    padding: 100px 0;
   
}


.foot-container{
   display: flex;
   align-items: baseline;
}
                          


.footer-logo{
   font-family: "Raleway", sans-serif;
   color: #4d5ae5;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 16px;}
  

   .studio-two{
   color: #fff;
      
   }

   .footer-text{
   max-width: 264px;
   color: #fff;
}

.logo-text {
   margin-right: 120px
}
.footer-soc-links{
  
  width: 208px;
 
 
}

.soc-text{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   margin-bottom: 16px;}


.foot-soc-list{
display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: row;
   gap: 16px;
   width: 208px;
   height: 40px;
}
.foot-soc-item{
   width: 40px;
   height: 40px}

   .foot-soc-link{
      width: 100%;
      height: 100%;
      background-color: #4D5AE5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }
   .foot-soc-img{
      fill:#f4f4fd;
   }
.foot-soc-link:hover{background-color: #31D0AA;

} 
.foot-soc-link:focus{
   background-color:#31D0AA;
}

.foot-form-wrap{
   margin-left: 80px;
   width: 453px;
   height: 80px;
}

.foot-form{
   display: flex;
   gap: 24px;
}



.foot-label{
   
}  


.foot-right-title{
   font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #fff;
      margin-bottom: 16px;
}

.foot-input{
   border: 1px solid #fff;
    border-radius: 4px;
   width: 264px;
   height: 40px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   background-color:transparent;
   padding-left: 16px;
   color:#ffffff;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
}

.foot-input::placeholder{
   font-weight: 400;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
      padding: 8px 16px;
      }


.foot-subscr-btn{display: flex;
min-width: 165px;
align-items: center;
justify-content: center;
border-radius: 4px;
padding: 8px 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
height: 40px;
background: #4d5ae5;
color: #fff;

border: none;
cursor: pointer;}

.foot-subscr-icon{
   fill: #fff;
   margin-left: 16px;
}


.backdrop{
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}

.modal{
   position: absolute;
   top:50%;
   left: 50%;
   width: 408px;
  min-height: 584px;
  transform: translate(-50% ,-50%);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding-left: 24px;
   padding-top: 72px;
   padding-right: 24px;
   padding-bottom: 24px;
}

.backdrop:not(.is-open) .modal{
   transform:translate(-50%, -100%);
}
.modal-close{
  display:flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   background-color: #e7e9fc;
   border: 1px solid rgba(0, 0, 0, 0.1);
   position: absolute;
   padding:0;
   cursor: pointer;
   top:24px;
   right:24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover{
   background-color: #404bbf;
   border:none;
   
}

.modal-close:focus{background-color: #404bbf;
   border: none;}

.modal-close:focus .btn-icon:hover{
   fill: #ffffff;
}

.btn-icon{
   position: absolute;
   fill:#2E2F42;;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .btn-icon,
.modal-close:focus .btn-icon{
   fill:#ffffff;
}




.modal-title{
   font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 16px;
}



.form-foot{}


.modal-field {
   margin-bottom: 8px;
}

.modal-label {
   display:block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8e8f99;
   margin-bottom: 4px;}



.input-wrap{
   position: relative;
}

.modal-input{
   width:100%;
   border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      height: 40px;
      padding-left: 38px;
      background-color: transparent;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
   border-color: #4D5AE5;
}


.modal-user-icon{
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-user-icon{fill:#4D5AE5;}


.modal-field-text{
   margin-bottom: 16px;
}

.modal-textarea{
   width:100%;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      font-size: 12px;
      height: 120px;
   padding: 8px 16px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
      background-color: transparent;
      outline: transparent;
      resize:none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover, .modal-textarea:focus{
   border-color: #4D5AE5;
}

.modal-check-field{
   margin-bottom: 24px;
}

.modal-check-text{
   font-weight: 400;
      font-size: 12px;
      line-height:1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
     
}


.modal-check-item {
   width: 16px;
   height: 16px;
   border-radius: 2px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   margin-right: 8px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-check-icon: {
   fill: transparent;
}



.modal-check:checked+ .modal-check-text .modal-check-item{
   background-color: #404bbf;
   border:none;
   fill:#f4f4fd;
  
}

.modal-check-link {
color: #4d5ae5;
line-height: 1.33;
text-decoration: underline;
font-size: 12px;
cursor: pointer;
  }


